.multichain__input,
.multichain__select,
.multichain__button {
    background-color: var(--input-background);
    color: var(--input-text);
    border: 1px solid var(--input-border);
    box-sizing: border-box;
}

.multichain__button {
    background-color: var(--branding);
    border: none;
    cursor: pointer;
}

.multichain__button:disabled {
    background-color: var(--input-border);
    cursor: not-allowed;
}

.multichain__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
}

.multichain__row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.multichain__column--full {
    flex: 1;
}

.multichain__column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.multichain__text {
    margin: 0;
}

.multichain__button--secondary {
    background-color: var(--input-border);
}

.multichain__loader {
    width: 32px;
    height: 32px;
    border: 5px solid #fff;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: multichain__rotation 1s linear infinite;
}

@keyframes multichain__rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.multichain__select-container {
    position: relative;
}

.multichain__select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.multichain__select-left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.multichain__select-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.multichain__select-arrow {
    width: 16px;
    height: 16px;
    transition: transform 0.2s ease;
    color: #666;
}

.multichain__select-arrow.multichain__open {
    transform: rotate(180deg);
}

.multichain__select-menu {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    z-index: 10;
    box-sizing: border-box;
}

.multichain__select-option {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.multichain__tooltip {
    position: absolute;
    left: 50%;
    top: 125%;
    width: 70%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1000;
    background-color: #323232;
    padding: 16px 12px;
    text-align: center;
}

.multichain__tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #323232 transparent;
}

.multichain__button-icon {
    display: inline-block;
    position: absolute;
    margin-top: -2px;
    margin-left: 4px;
}
